.svn
/.idea
/.gradle
/freeline
/freeline_core
/build
/*.iml
/app/build
/viewer/build
/mupdf/build
/example/build

/app/app.iml
/viewer/viewer.iml
/mupdf/viewer.iml
/example/viewer.iml
/freeline*.zip

