<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.artifex.mupdf.fitz">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>

    <application>

    </application>

</manifest>